<div id="about" class="about-wrapper">
  <div class="about-items">
    <img class="img-about" src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2Fhand.gif?alt=media&token=9d1e960a-659c-4c5f-993a-9d3fced71247" />
    <div class="about-text" data-aos="fade-down">
      <h1 class="title-about" #aboutTitle (click)="splashAbout()">ABOUT ME</h1>
      <p style="color: #fff">
        I'm passionate about coding, especially FullStack web development. I consider myself as a multidisciplinary
        professional, I have knowledge in administrative field, human resources, accounting. I have good skills in
        designing and data analysis.
      </p>

      <p style="color: #fff">
        I have had the opportunity to developed web applications using, Django (Python) for backend and frontend,
        Angular (JavaScript) for frontend, Spring Boot (Java) for backend; as well as deployed the applications to cloud
        computing platforms such as, Heroku, PythonAnywhere and Amazon Web Services on EC2.
      </p>
    </div>
  </div>
</div>
