<footer class="footer-wrapper">
  <div class="container-logo" data-aos="zoom-out-up">
    <img
      src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2FjarLogo.svg?alt=media&token=0848974a-3342-4b63-8458-22fa5e17aa9c"
      alt="Jorge Molano | Developer, Business Administrator &amp; Designer"
      height="100"
      data-aos="flip-up"
      data-aos-duration="800"
    />
    <div class="columns is-centered">
      <div class="column is-one-third"></div>
    </div>
    <div class="social">
      <a target="_blank" href="https://github.com/jamp-scp28"><i class="fab fa-github"></i> GitHub</a>
      <a target="_blank" href="https://www.instagram.com/code.riders/"><i class="fab fa-instagram"></i> Instagram</a>
    </div>
    <div class="copyright">
      Jorge Ar. Molano
      <span class="icon has-white-text" style="vertical-align: middle; color: wheat"
        ><i class="far fa-copyright"></i
      ></span>
      2022
      <br />
      All rigths reserved
    </div>
  </div>
</footer>
