<div class="sidebar-wrapper">
  <div class="sidebar" #tabs>
    <div
      #home
      (click)="setActiveTab(home)"
      class="navIcon"
      id="home"
      (mouseover)="toolTipShow(homeTooltip)"
      (mouseout)="toolTipHide(homeTooltip)"
    >
      <img
        class="navImg"
        src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2Ficons%2Fhome.png?alt=media&token=d79820b4-221c-47c7-a7dc-b16229eed7fa"
      />
      <span #homeTooltip class="tooltipHome"> Home </span>
    </div>

    <div
      #about
      (click)="setActiveTab(about)"
      class="navIcon"
      id="about"
      (mouseover)="toolTipShow(aboutTooltip)"
      (mouseout)="toolTipHide(aboutTooltip)"
    >
      <img
        class="navImg"
        src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2Ficons%2Fcoding.png?alt=media&token=92acd3a7-92c5-47f8-b361-cc01c0770dd9"
      />

      <span #aboutTooltip class="tooltipAbout"> About </span>
    </div>

    <div
      #portafolio
      (click)="setActiveTab(portafolio)"
      class="navIcon"
      id="portafolio"
      (mouseover)="toolTipShow(portafolioTooltip)"
      (mouseout)="toolTipHide(portafolioTooltip)"
    >
      <img
        class="navImg"
        src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2Ficons%2Fportafolio.png?alt=media&token=8e2f04c3-93ca-4a99-81b5-6da0715c73b1"
      />

      <span #portafolioTooltip class="tooltipPortafolio"> Portafolio </span>
    </div>
  </div>
</div>
