<!-- Home Section -->
<div class="parallax">
  <div>
    <img
      #birds
      src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2FbirdLayer.svg?alt=media&token=e79db200-94c6-4bcf-a3aa-4495386fd11e"
      class="bannerImg"
    />
  </div>
  <div class="parallax__layer">
    <img
      #forest
      src="https://firebasestorage.googleapis.com/v0/b/myprojects-37d11.appspot.com/o/Portafolio%2FbottomLayer.svg?alt=media&token=35393b58-3720-4eae-9b72-2a074091c186"
      class="bannerImg"
    />
  </div>
</div>

<div>
  <div class="shapes">
    <div class="shape shape-1"></div>
    <div class="shape shape-2"></div>
    <div class="shape shape-3"></div>

    <div class="content" #home>
      <div class="homeItems">
        <h1>Hi! I am Jorge</h1>
        <div>
          <h1 class="pro">
            <span class="box"></span>
            <span class="hi">I'm</span>
            <span class="proText">Developer & Business Administrator</span>
            <span class="cursor2">_</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- END... Home Section -->
  <!-- About Section -->
  <div #about>
    <app-about></app-about>
  </div>
  <!-- END... About Section -->
  <!-- Portafolio Section -->
  <div #portafolio>
    <app-portafolio></app-portafolio>
  </div>
  <!-- END... Portafolio Section -->
  <!-- foot Section -->

  <app-footer></app-footer>
  <!-- END... foot Section -->
</div>
